*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    color: #6a36bf;
    text-align: center;
    font-size: 5vh;
    margin-top: 3vh;
}